.table {
  td {
    vertical-align: middle;
  }
}

.bg-dark-blue {
  background-color: $admin-login-dark-blue;
}

.card-img-igc {
  width: fit-content;
  margin: 0 auto;
}

.carousel-control-prev,
.carousel-control-next {
  &:hover,
  &:focus {
    color: $admin-login-dark-blue;
  }
  color: $admin-login-dark-blue;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-image: none;
}