.btn {
  &.btn-igc-blue {
    color: $white;
    background-color: $admin-login-dark-blue;
    border-color: $admin-login-dark-blue;
    :hover {
      color: $white;
      background-color: $admin-login-dark-blue;
      border-color: $admin-login-dark-blue;
    }
  }
}

.sidebar {
  background: $admin-login-dark-blue;
}

.table-responsive {
  .table-bordered {
    border: 1px solid #dee2e6;
  }
}

.admin-pics {
  max-width: 200px;
}